body{
    max-width: 1600px;
    font-family: sans-serif;
}
.header{
    max-width: 1600px;
    max-height: 80px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ECECEC;
    ;    
}

.header_nav{
    display: flex;
    
}

.header-title{
margin-left: 20px;
color: #2196F3;
text-align: center;
}

.header_ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-left: 250px;
    line-height: 53px;
}

.header_link{
    color: black;
    text-decoration: none;
    margin-left: 20px;
    
}

.header_link:hover{
    color: #2196F3;
}

#li{
    margin-left: 300px;
}


.header_svg{
    text-decoration: none;
    margin-left: 30px;
    color: black;
}

.header_svg:hover{
    color: #2196F3;
}

.li_svg{
    position: relative;
    left: 30px;
}

.li_svg:hover{
    fill: #2196F3;
}

.service{
    width: 1600px;
    height: 600px;
    background-color: #2196F3;
    background-image: url(./image/img/equipo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
}

.service_h2{
    color: white;
    width: 600px;
    font-size: 44px;
    text-align: center;
    padding: 200px 452px 0px 452px;
    
}

.service_button{
    margin-left: 650px;
    width: 200px;
    height: 50px;
    margin-top: -100px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #2196F3;
    color: white;
}
.service_button:hover{
    cursor: pointer;
}

.backdrop.is-hidden{
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.modal_styles{
    display: flex;
    justify-content: end;
    position: fixed;
    left: 491px;
    top: 221px;
    height: 581px;
    width: 528px;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.button_styles{
    border: none;
    background: none;
    display: flex;
}
.button_styles:hover{
    cursor: pointer;
}

.beneficios{
    display: flex;
    max-width: 1270px;
    max-height: 251px;
    margin-left: 165px;
    margin-top: 89px;

}

.beneficios_cajas{
    max-width: 270px;
    max-height: 251px;
    margin-left: 30px;
    display: inline-block;
    margin-top: 0%px;
}

.beneficios_title{
    font-size: 14px;
    margin-bottom: 20px;
}

.beneficios_svg{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    position: relative;
    top: 0%;
    display: flex;
    align-items: flex-start;
}

.aplicaciones{
    width: 1170px;
    height: 386px;
    margin-left: 215px;
}

.aplicaciones_h2{
    text-align: center;
}

.aplicaciones_cajas{
    max-height: 294px;
    max-width: 370px;
    background-color: #2196F3;
    display: inline-block;
    margin-left: 15px;
    margin-top: 44px;
    margin-right: 1px;
}

.aplicaciones_h3{
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    position: relative;
    bottom: 90px;
    width: 369px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    line-height: 70px;
}

.equipo{
    width: 1600px;
    height: 708px;
    background-color: #F5F4FA;
}

.equipo_h2{
    text-align: center;
    font-size: 36px;
    position: relative;
    top: 94px;
}

.equipo_contenedor{
    height: 428px;
    width: 1170px;
    margin: 186px 0px 0px 210px;
    
}

.equipo_cajas{
    height: 428px;
    width: 270px;
    display: inline-block;
    margin-left: 18px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.equipo_h3{
    display: flex;
    justify-content: center;
}

.equipo_h4{
    display: flex;
    justify-content: center;
}

.equipo_box_svg{
    width: 206px;
    height: 44px;
    margin-left: 33px;
    display: flex;
    align-items: center;
}

.equipo_svg{
    padding: 15px;
    fill: #AFB1B8;
}
.equipo_svg:hover{
    fill: white;
}

.equipo_borderradius{
    border-radius: 50%;
}
.equipo_borderradius:hover{
    background-color: #2196F3;
}

.clientes{
    width: 1170px;
    height: 162px;
    margin: auto;
    text-align: center;
    margin-bottom: 140px;
}

.clientes_father{
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: space-between;

}

.clientes_box{
    width: 170px;
    height: 81px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clientes_box:hover{
    border: 1px solid #2196F3;
}
.clientes_svg{
    fill: #afb1b8;
    padding: 32px;
}

.clientes_svg:hover{
    fill: #2196F3;
}

.footer{
    height: 252px;
    width: 1600px;
    background: #2F303A;
}

.footer_inf{
    max-height: 126px;
    max-width: 231px;
    color: #FFFFFF;
    position: relative;
    top: 53px;
    left: 215px;
}

.redes{
    width: 206px;
    height: 80px;
    margin-left: 515px;
    text-align: center;
    position: relative;
    bottom: 50px;    
}

.redes_p{
    color: #FFFFFF;
}

.redes_contend{
    width: 206px;
    display: flex;
    display: flex;
    align-items: center;
}

.redes_svg{
    width: 44px;
    height: 44px;
    fill: #FFFFFF;
    margin-left: 6px;
}

.redes_svg:hover{
    border-radius: 50%;
    background-color: #2196F3;
}

.redes_svg_img{
    padding: 12px;
}


        /*:::::::PORTAFOLIO:::::::*/


.barranav{
    width: 1600px;
    height: 38px;
    display: flex;
    justify-content: center;
    margin: 80px 0px 100px 0px;
}

.barranav_border{
    width: 80px;
    height: 38px;
    margin: 8px;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0px;
    font-size: 16px;
}
.barranav_border:nth-child(2){
    width: 128px;
}
.barranav_border:nth-child(3){
    width: 145px;
}
.barranav_border:nth-child(5){
    width: 130px;
}

.barranav_border:hover{
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
}

.contain{
    height: 1260px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 100px;
}

.contain_box{
    z-index: 2;
    height: 404px;
    width: 367px;
    margin: 0px 30px 30px 0px;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    position: relative;
}

.contain_box:hover{
    box-shadow: 3px 4px 0px rgba(96, 96, 96, 0.229);
}

.contain_animation{
    z-index: 1;
    height: 274px;
    width: 368px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(33, 150, 243, 0.9);
}

.contain_box:hover .contain_animation{
    transform: translateY(-277px);
    transition: 250ms;
}


.contain_animation_p{
    z-index: 1;
    height: 168px;
    width: 322px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
}

.contain_z-index{
    width: 368px;
    height: 200px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 2;
}

.contain_h2{
    margin-left: 24px;
    size: 18px;
}
.contain_p{
    margin-left: 24px;
    size: 16px;
}


